body {
  background-image: url('http://turbo.designwoop.com/uploads/2012/03/20_free_subtle_textures_floral_patterns.jpg');
  font-size:20px;
}

.profile {
  ul{
    li{
      display:block;
      list-style-type:none
    }

  }
  img {
    height:250px;
    width:250px;
    display:block;

  }
  height:100%;
  width:100%;
}


#back {
  float:right
}

#title  {
  font-size:60px;
  margin-bottom: 80px;
  text-align: center
}

#text {
  margin-top:40px
}

.btn{
  width:100px;
  height:50px;
  background-color:blue
}


//////////////////////////////////////////////////////////



@media (min-width: 720px) {
body {
  background-image: url('http://turbo.designwoop.com/uploads/2012/03/20_free_subtle_textures_floral_patterns.jpg');
  font-size:20px;
  div {
    li {
     
      list-style-type: none;
      text-overflow: ellipsis;
      display:inline-block;
      position: relative;
      left: 300px;
      bottom: 217px;
      padding-right: 5px
    }
  }
  }
}

@media (min-width: 720px) {
.profile {
  ul{
    li{
      display:block
    }
    margin-top: 0;
    margin-bottom: -128px;
  }
  img {
    height:250px;
    width:250px;
    display:block;

  }
  height:100%;
  width:100%;
}
}

















