<div ng-app='flickrApp' ng-controller='FlickrController as flickr' ng-init="flickr.getPhoto()">
  <div class='container'>
    <div class='row'>
      <div class=class="text-center col-md-4 col-md-offset-4">
        <h1 id='title'>FLICKR PUBLIC FEED </h1>

      </div>
    </div>

    
    <div class="container">
      <div class="row">
        <div class='profile' ng-hide="flickr.photo">
          <ul ng-repeat='flickr in flickr.all'  >
              <a><img id='{{$index}}' class="thumbnail" ng-click='$parent.flickr.showPhoto(this)' src="{{flickr.media.m}}"></a>
              <div class='column'>
              <a ng-click='$parent.flickr.showPhoto(this)'><li id='header'><h1>{{flickr.title | limitTo: 40}} </h1></li></a>
              <li id='link'><a href="{{flickr.link}}">View on flicker</a></li>
              <li id='author'><a href="https://www.flickr.com/photos/{{flickr.author_id}}">Photo Author</a></li>
              <li>Published on the {{flickr.key3.day}}/{{flickr.key3.date}}/{{flickr.key3.year}}
               at {{flickr.key3.hours}}:{{flickr.key3.minutes}}</li>
             </div>
             </div>
           </ul>
         </div>
       </div>

       <div class='profile'  ng-show="flickr.photo">
         <div class='container'>
           <div class='row'>
             <div class="col-md-12">
              <a id='titleGo' href="{{flickr.link}}"><h1>{{flickr.title}}</h1></a>
            </div>
          </div>
        
        <div class='row'>
          <div class="col-md-4">
            <a href="https://www.flickr.com/photos/{{flickr.author_id}}">Photo Author</a>
            <img class="thumbnail" src="{{flickr.photo}}">
            Published on the {{flickr.date.day}}/{{flickr.date.date}}/{{flickr.date.year}} at {{flickr.date.hours}}:{{flickr.date.minutes}}
          </div>


        <div id='text' class="col-md-8">
          <a id='back' ng-click="flickr.photo = !flickr.photo"><button>Back</button></a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
          <h4>Tags</h4>
          <strong>{{flickr.tags}}</strong>
        </div>
      </div>
    </div>

  </div>
</div>



